nav{
    padding: 0 2rem;
}


.content{
    min-height: calc(100vh - 70px - 64px);
    padding: 2rem 0;
}

.goods{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    gap: 1rem;
}